.container {
  max-width: 1728px;
  width: 100%;
  margin: 0 auto;
  
}
.active {
  color: rgb(16, 139, 255);
}
a{
  text-decoration: none;
}
.main-header{
  @include flex();
  @include font();
  font-size: 20px;
  gap: 50px;
  margin: 50px;
  &__btn:hover{
    @include btnHover();
  }
}
.news{
  @include grid();
  margin:0 80px;
  &__articles {
    @include font();
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &:hover {
      transition: ease-in 0.1s;
      transform: scale(1.1, 1.1);
    }
  }
  &__title {
    font-weight: bold;
    font-size: 18px;
  }
  &__img {
    width: 100%;
    height: 70%;
  }
  &__date {
    padding-left: 2%;
    padding-bottom: 2%;
  }
}
.load-news {
  @include flex();
  margin-top: 5%;
  margin-bottom: 3%;
  &__btn {
    @include font();
    width: 150px;
    height: 50px;
    font-size: 15px;
    background-color: rgb(8, 15, 63);
    color: white;
    cursor: pointer;
    &:hover{
      background-color: rgb(31, 40, 99);
      transform: scale(1.1, 1.1);
    }
  }
}
//responsive
@media (min-width: 768px) and (max-width: 1024px) {
  .news{
    margin:0 40px;
    font-size: 14px;
    &__articles {
      @include flex();
      flex-direction: column;
      height: 100%;
      gap: 20px;
    }
    &__img {
      width: 100%;
      object-fit: cover;
    }
    &__title {
      font-size: 16px;
      height: 20px;
    }
  }
  .load-news{
    margin-top: 8%;
  }
}
@media (max-width: 767px) {
 .news{
  margin:0 20px;
  &__articles {
    gap: 15px;
  }
 }
 .load-news{
  margin-top: 15%;
}}
