@mixin btnHover{
    cursor: pointer;
  color: rgb(16, 139, 255);
}

@mixin flex{
  display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) and (max-width:1024) {
      flex-direction: column;
      flex-wrap: wrap;

    }
}

@mixin grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 120px;

  @media (min-width: 768px) and (max-width:1024px) {
    gap:5px;
    row-gap: 120px;
  }
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    gap:5px;
    row-gap: 120px;
  }
}