/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1728px;
  width: 100%;
  margin: 0 auto;
}

.active {
  color: rgb(16, 139, 255);
}

a {
  text-decoration: none;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: black;
  font-size: 20px;
  gap: 50px;
  margin: 50px;
}
.main-header__btn:hover {
  cursor: pointer;
  color: rgb(16, 139, 255);
}
.main-header a {
  color: black;
}
.main-header a:hover {
  cursor: pointer;
  color: rgb(16, 139, 255);
}

.news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  row-gap: 80px;
  margin: 0 80px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .news {
    gap: 30px;
    row-gap: 80px;
  }
}
@media (max-width: 767px) {
  .news {
    grid-template-columns: 1fr;
  }
}
.news__articles {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: black;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.news__articles:hover {
  transition: all 0.3s ease-out 0s;
  transform: scale(1.05);
}
.news__title {
  font-weight: bold;
  font-size: 18px;
}
.news__img {
  width: 100%;
  height: 70%;
}
.news__date {
  padding-left: 2%;
  padding-bottom: 2%;
}

.load-news {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 3%;
}
.load-news__btn {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: black;
  width: 150px;
  height: 50px;
  font-size: 15px;
  background-color: rgb(8, 15, 63);
  color: white;
  cursor: pointer;
}
.load-news__btn:hover {
  background-color: rgb(31, 40, 99);
  transform: scale(1.1, 1.1);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .news {
    margin: 0 40px;
    font-size: 14px;
  }
  .news__articles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 20px;
  }
  .news__img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .news__title {
    font-size: 16px;
    height: 20px;
  }
  .load-news {
    margin-top: 8%;
  }
}
@media (max-width: 767px) {
  .news {
    margin: 0 20px;
  }
  .news__articles {
    gap: 15px;
  }
  .load-news {
    margin-top: 15%;
  }
}
.hide {
  display: none !important;
}

.single-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15%;
  font-size: 20px;
}
.single-page img {
  width: 100%;
  height: 80%;
  margin-top: 30px;
  margin-bottom: 10px;
}
.single-page .single-news {
  max-width: 1200px;
  width: 100%;
}
.single-page .single-news__title {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: center;
}
.single-page .single-news__date {
  text-align: center;
  margin-bottom: 10px;
}
.single-page .single-news small {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding-bottom: 20px;
}
.single-page .single-news figure {
  width: 100% !important;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .single-page .single-news {
    max-width: 1200px;
    width: 100%;
  }
  .single-page .single-news img {
    width: 100%;
    height: 80%;
    margin: 30px 0;
  }
}

@media (max-width: 767px) {
  .single-page {
    margin: 0 8%;
  }
}
.loader {
  position: absolute;
  top: 50%;
  right: 48%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #aca2a2;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #5785fa;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.load-news__loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #ccb9b9;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.load-news__loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #1f225e;
  border-left: 4px solid transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */